html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'DinoEscapeMainPixelFont';
  /* Customised font */
  src: url('assets/fonts/PixelEmulator.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* General Styles */
body {
  /* font-family: 'Arial', sans-serif; */
  font-family: 'DinoEscapeMainPixelFont', cursive;
  background-color: #111;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

#p5_loading{
  /* position: absolute !important; */
  left: 50%;
  top: 380px;
  transform: translate(-50%, -50%);
  display: block;  /* 确保它是可见的 */
  /* background: rgba(0, 0, 0, 0.7); */
  color: white;
  padding: 10px;
  border-radius: 5px;
}

/* Game Header Styling */
header {
  display: none; /* Hide by default */
  margin-bottom: 15px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* font-family: 'Press Start 2P', cursive; Retro gaming font */
}

/* Instructions Styling */
#instructions {
  width: 850px;
  /* background: rgba(0, 0, 0, 0.7); */
  padding: 1px;
  /* border-radius: 10px; */
  margin: 20px auto;
  font-size: 12px;
  font-weight: bold;
  color: #ffcc00;
  /* box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.3); */
  /* transition: transform 0.3s ease-in-out; */
  border: 2px dashed #ffcc00;

  /* Disable text selection and dragging */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

#canvas-container {
  width: 850px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Styles for touch screens */

/*Portrait mode*/
@media (pointer: coarse) and (orientation: portrait) {
  #canvas-container{
    width: 100vw;
    height: calc(100vw / 1.7);
    margin: 0 auto;
    padding: 0;
  }
  h1, header, #instructions{
    display: block;
  }
}

/*Landscape mode*/
@media (pointer: coarse) and (orientation: landscape) {
  #canvas-container{
    height: 100vh;
    width: calc(100vh * 1.7);
    margin: 0 auto;
    padding: 0;
  }

  h1, header, #instructions {
    display: none;
  }
}

/* Styles for mouse-based devices */
@media (pointer: fine) {
  #canvas-container{
    height: 500px;
    width: 850px;
  }
  h1, header, #instructions {
    display: block;
  }
}

/* And set a max-width for the canvas container
@media (pointer: fine) and (min-width: 850px) and (min-height: 600px) {
  #canvas-container {
    width: 1200px;
    height: 750px;
    margin: 30px auto;
    border-radius: 30px;
  }

  h1, header, #instructions {
    display: block;
  }
}
*/

/* When .fullscreen is added, let it fill 100% of viewport
#canvas-container.fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0;
  padding: 0;
}
*/

/* For large enough screens, show the header
@media (min-height: 620px) {
  header {
    display: block;
  }
}
*/


.keycap {
  font-family: sans-serif, "Apple Color Emoji", "Segoe UI Emoji", monospace;
  color: #333;
  display: inline-block;
  padding: 4px 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background: #eee;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: monospace;
  font-weight: bold;
}

.mirror {
  transform: scaleX(-1);
  display: inline-block;
}

.pixcle-style-continer {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 32px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  background: linear-gradient(to bottom, #ff7b00 0%, #ff7b00 20%,
  #ff9900 20%, #ff9900 40%,
  #ffcc00 40%, #ffcc00 60%,
  #ffdd44 60%, #ffdd44 80%,
  #ffee88 80%, #ffee88 100%);

  padding: 20px;

  border: 6px solid #ffcc00;
  box-shadow: 4px 4px 0px #cc6600, 8px 8px 0px #993300;
  /* border-radius: 15px; */

  image-rendering: pixelated;
  text-shadow: 3px 3px 0px black;
}

/* Buttons configuration */
#left-btn {
  bottom: 25px;
  left: 25px;
}

#right-btn {
  bottom: 25px;
  left: 140px;
}

#jump-btn {
  bottom: 25px;
  right: 25px;
}

#fs-btn {
  top: 40px;
  right: 10px;
}

#pause-btn {
  top: 40px;
  right: 80px;
}

.control-btn {
  display: flex;
  position: absolute;
  z-index: 10; /* Ensure buttons are on top of the canvas */

  /* Size and shape */
  aspect-ratio: 1 / 1;
  width: clamp(80px, 17vmin, 85px);
  /*width: 85px;
  height: 85px;*/
  border-radius: 50%; /* Makes the button round */

  padding: 15px; /* Make buttons easier to tap */

  /* Background and transparency */
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  border: none;

  /* Text styling */
  color: #fff;
  /*font-size: 36px;*/
  font-size: clamp(34px, 7.2vmin, 36px);
  font-weight: bold;

  /* Center text */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Transition for visual feedback */
  transition: background-color 0.2s, transform 0.1s;

  /* Remove default outline */
  outline: none;

  /* Disable text selection and dragging */
  cursor: pointer; /* forces Mobile Safari to dispatch click immediately rather than delaying */
  touch-action: none;       /* Prevents default scrolling/zoom gesture on the button */
  -webkit-tap-highlight-color: transparent; /* Removes touch highlight */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;

  /* Improve touch responsiveness
  touch-action: manipulation; */

  /* Visual feedback when the button is pressed */
  .control-btn:active {
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(0.95);
  }
}

#fs-btn, #pause-btn {
  /*color: #f16e0a; */
  /*width: 60px;
  font-size: 28px;*/
  aspect-ratio: 1 / 1;
  width: clamp(55px, 12vmin, 60px);
  font-size: clamp(26px, 5.6vmin, 28px);
  /*background-color: rgba(0, 0, 0, .30); */
}

/* Hidden Utility Class */
.hidden {
  display: none !important; /* Hide by default */
}
